[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinput = "*"
pynput = "*"
kivy = "*"
plyer = "*"
numpy = "*"
matplotlib = "*"
pydantic = "*"
websockets = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.2"
